@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed90;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.circle-text {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
}

.circle-text::before {
  content: '';
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color 0.5s ease, transform 0.5s ease;
  transform: scale(0);
}

.circle-text:hover::before {
  border-color: #3498db; /* Change the color to your preference */
  transform: scale(1);
}

@font-face {
  font-family: 'Logirent';
  src: url('./fonts/Logirent.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
