@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdf7ff;
    --foreground: #ededed90;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.circle-text {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
}

.circle-text::before {
  content: '';
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color 0.5s ease, transform 0.5s ease;
  transform: scale(0);
}

.circle-text:hover::before {
  border-color: #3498db; /* Change the color to your preference */
  transform: scale(1);
}

@font-face {
  font-family: 'Logirent';
  src: url('./fonts/Logirent.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url('./fonts/panton.black-caps.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.social-hover {
  background-size: 200%; /* Start with a larger background */
  background-position: right; /* Start with the secondary color (orange) more visible */
  transition: background-position 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.social-hover:hover {
  background-position: left; /* Move the position to reveal more of the primary color (pink) */
  transform: scale(1.05); /* Adds the scale effect on hover */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation: fadeInUp 0.4s ease-out forwards;
}

.fadeInUpTwo {
  animation: fadeInUp 0.1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.2s ease-in;
}

.cycling-border {
  border: 2px solid;
  border-image: linear-gradient(45deg, red, yellow, green, blue);
  border-image-slice: 1;
  animation: borderCycle 4s linear infinite;
}

@keyframes borderCycle {
  0% { border-image-source: linear-gradient(45deg, red, yellow); }
  25% { border-image-source: linear-gradient(45deg, green, blue); }
  50% { border-image-source: linear-gradient(45deg, blue, pink); }
  75% { border-image-source: linear-gradient(45deg, pink, green); }
  100% { border-image-source: linear-gradient(45deg, red, yellow); }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switchInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.switchLabel {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.switchLabel:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

.switchInput:checked + .switchLabel {
  background-color: #2196F3;
}

.switchInput:checked + .switchLabel:before {
  transform: translateX(26px);
}

/* styles.css */
.text-shadow {
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Slimmer scrollbar */
}

/* Scrollbar track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background */
}

/* Scrollbar thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b21a8; /* Custom purple */
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* Padding around the thumb */
  height: 20px; /* Shorter height */
}

/* Hover effect for the scrollbar thumb */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9333ea; /* Darker purple on hover */
}

/* Adding some extra margin to push the scrollbar more to the right */
.custom-scrollbar {
  margin-right: 10px;
}
